{% extends "internal_tpl_base.html" %}

{% block content_title %}Normative Component{% endblock %}
{% block content %}
<!-- Main content -->
<section class="content">
    <!-- Info boxes -->

    <div class="row">
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3></h3>
                    <p>Mailbox</p>
                </div>
                <div class="icon">
                    <i class="fa fa-envelope"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>Template</h3>
                    <p></p>
                </div>
                <div class="icon">
                    <i class="fa fa-file-code-o"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3></h3>
                    <p>Is killed?</p>
                </div>
                <div class="icon">
                    <i class="fas fa-skull"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3></h3>
                    <p>Exit Code</p>
                </div>
                <div class="icon">
                    <i class="fa fa-sign-out-alt"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->

    </div>
    <div class="row">
        <div class="col-md-4">

        </div>

        <div class="col-md-7">
            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Finite State Machine</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body" id="fsm"></div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.box -->
        {% endif %}

    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
{% endblock %}

